// Colors
$color-white: #ffffff;
$color-black: #000000;


// Typography
$ff-main: "Space Grotesk", "Arial", sans-serif;

// Viewport
$vp-tablet: 1023px;
$vp-mobile: 767px;

// Animation
$transition-300: ease-in 0.3s;