.btn {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  color: $color-black;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 35px;

  background-color: transparent;
  border: 1px solid $color-black;

  border-radius: 14px;
  cursor: pointer;

  transition: color $transition-300, background-color $transition-300;

  &:hover {
    background-color: $color-black;
    color: $color-white;
  }
}