.header {
  margin: 60px 0 0 0;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo-link {
    display: flex;
    align-items: center;
  }

  &__nav {
    display: flex;

    &-list {
      display: flex;
      gap: 40px;
      align-items: center;
      margin: 0;
      padding: 0;
      list-style: none;
    }

    &-link {
      font-size: 20px;
      line-height: 28px;
      font-weight: 400;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 0%;
        height: 1px;
        background-color: $color-black;
        transition: width $transition-300;
      }

      &:hover::before {
        width: 100%;
      }
    }
  }
}